/* --- Reset & Base --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh; 
    width: 100vw;
    margin: 0;
    overflow: hidden; 
    -webkit-user-select: none; 
    user-select: none;
    cursor: default; 
    opacity: 0;
    transition: opacity 0.2s ease;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.6s ease-in-out;
}
.main-ui-container {
    opacity: 0;
    transform: translateY(10px);
    animation: fadinUI 0.6s ease-out 0.2s forwards;
}

body.loaded {
    opacity: 1;
}
input, textarea {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}
.settings-btn svg path {
    fill: var(--text-color);
    transition: fill 0.3s ease;
}
body[data-wallpaper-active="true"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
    pointer-events: none;
    animation: fadeInOverlay 0.8s ease;
}
body {
    background-color: var(--bg-color);
    transition: background-image 0.3s ease-in-out;
}

html[data-early-wallpaper="true"] body {
    transition: none !important;
}

body.animations-disabled *,
body.animations-disabled *::before,
body.animations-disabled *::after {
    animation: none !important;
    transition: none !important;
}
