/* --- Variables --- */
:root {
    --bg-color: #f9f9f9;
    --text-color: #242424;
    --search-bg: #ffffff;
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
    --shadow-hover: 0 6px 16px rgba(0, 0, 0, 0.12);
    --border-color: rgba(0,0,0,0.05);
    --border-radius: 99px;
    --accent-color: #0078d4;
}
